@page
@model RateMySdsu.Pages.Reviews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Review.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Class.ClassID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Review.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Review.Student.StudentID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Review.ReviewID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
